# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.build/
dist/
.eggs/
*.egg-info/

# Virtualenv
venv/
.venv/

# Node
node_modules/
npm-debug.log
pnpm-lock.yaml
yarn.lock

# uv
.uv/

# VSCode / IDEs
.vscode/
.idea/

# Misc
.DS_Store
